nav>div>ul>li{
    font-size: 18px;
}
nav li{
    margin-left: 30px;
}
.logo{

    max-width: 15%;
}
.slogan{
    color: #2686ff;
    background-color: transparent;
    font-size: 16px;
    font-weight: lighter;
}

